@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  color: #ebb85f;
  font-size: 4vw;
}

.todo-container {
  @apply bg-teal-900 px-8 py-4 w-full max-w-screen-md shadow-xl rounded-lg;
}

.todo-item {
  @apply flex items-center border-b-2 border-teal-100 pb-3 pt-3 mb-4;
}

.todo-item .complete {
  @apply ml-4;
}

.finished,
.todo-item:hover {
  background-color: #2b5c5d;
}
.finished span {
  text-decoration: line-through;
  color: #66bfaf;
}
.finished .done {
  color: #66bfaf;
}
